.header {
  margin-block-end: var(--spacing-4);
  position: relative;
}

.navList {
  display: flex;
  gap: var(--spacing-4);
  justify-content: space-between;
}

.navItem {
  border: 1px solid var(--foreground);
  border-radius: var(--border-radius-sm);
  display: block;
  font-weight: 700;
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-4);
  text-wrap: balance;

  &[href="/"] {
    background: var(--clr-purple);
  }
}